{% extends 'Tool/layout.html' %}

{% block content %}
  <div class="col s3">
  <div class="row">
    <div class="col s2"><h5>CPE Name</h5></div>
    <div class="col s2"><h5>Release</h5></div>
    <div class="col s2"><h5>Description</h5></div>
    <div class="col s2"><h5>CTS Release</h5></div>
    <div class="col s2"><h5>Contact Person</h5></div>
    <div class="col s1"><h5>Vendor</h5></div>
    <div class="col s1"><h5>Customer</h5></div>
    </div>
    {% for cpe in cpes %}
    <div class="row">
    <div class="col s2"><p><a href="/tool/feature_cpe/cpe_test_case/{{cpe.id}}">{{cpe.cpe_name}}</a></p></div>
    <div class="col s2"><p>{{cpe.cpe_release}}</p></div>
    <div class="col s2"><p>{{cpe.cpe_description}}</p></div>
    <div class="col s2"><p>{{cpe.cts_release}}</p></div>
    <div class="col s2"><p>{{cpe.contact_person.contact_name}}</p></div>
    <div class="col s1"><p>{{cpe.vendor.vendor_name}}</p></div>
    <div class="col s1"><p>{{cpe.customer}}</p></div>
    </div>
    {% endfor %}
  </div>

<div class="row">
<div id="test_case"></div>
</div>

<script type="text/javascript">

</script>
{% endblock %}