{% extends 'Tool/layout.html' %}

{% block content %}

{% csrf_token %}
<div class="row">
<div class="col s12"> <h5>Select the Features [A-Z]</h5></div>
</div>
<div class="row">
    <div class="col s10">
        {% for f in feature %}
        <div class="col s4">
            <p>
              <input name="feature_list" type="checkbox" id={{f.id}} />
              <label for="{{f.id}}" class="black-text">{{f.feature_name}}</label>
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="col s2">
        <button class="btn waves-effect waves-light light-blue darken-4" type="submit" id="get_cpes" name="submit" onclick="scrollTo()">Search<i class="mdi-content-send right"></i></button>
    </div>
</div>
<div class="row">
<div id="cpe"></div>
</div>

<div class="row">
<div id="test_case"></div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    var selected_checkbox = [];
    $('#get_cpes').click(function () {
        $('#cpe').html('');
        $('input[name=feature_list]:checked').each(function() {
            selected_checkbox.push($(this).attr('id'));
        })
        request_url = 'get_cpe/' + selected_checkbox + '/';
        cpe_url = 'cpe_test_case/';
        console.log(request_url);
        selected_checkbox = [];
        document.getElementById('test_case').scrollIntoView();
        $.ajax({
            url: request_url,
            dataType: "JSON",
            success: function(response){
                var str = '<hr>';
                str += '<div class="row">';
                str +=' <div class="col s2"> <h5>CPE Name</h5></div>';
                str +=' <div class="col s2"> <h5>Release</h5></div>';
                str +=' <div class="col s2"> <h5>Description</h5></div>';
                str +=' <div class="col s2"> <h5>CTS Release</h5></div>';
                str +=' <div class="col s2"> <h5>Contact Person</h5></div>';
                str +=' <div class="col s1"> <h5>Vendor</h5></div>';
                str +=' <div class="col s1"> <h5>Customer</h5></div>';
                str +='</div>';

                $.each(response, function(i, val){
                    str += '<div class="row">';
                    str +=' <div class="col s2"><a href="'+cpe_url+val['cpe_id']+'"'+request_url+'">'+val['cpe_name']+'</a></div>';
                    str +=' <div class="col s2">'+val['cpe_release']+'</div>';
                    str +=' <div class="col s2">'+val['description']+'</div>';
                    str +=' <div class="col s2">'+val['cts_release']+'</div>';
                    str +=' <div class="col s2">'+val['contact_person']+'</div>';
                    str +=' <div class="col s1">'+val['vendor']+'</div>';
                    str +=' <div class="col s1">'+val['customer']+'</div>';
                    str += '</div>';
                    $('#cpe').append(str)
                    str = '';
                });
            }
        })
    });
});
</script>
{% endblock %}