{% extends 'Tool/layout.html' %}

{% block content %}
<div class="row">
  <div class="col s3">
    <label>Feature</label>
    <select id="select_feature" class="browser-default">
    <option value="">Select Feature</option>
    {% for f in feature %}
    <option value={{f.id}}>{{f.feature_name}}</option>
    {% endfor %}
    </select>
  </div>
</div>
<div class="row" id="test_case">
</div>

<div class="row" id="test_case1">
<ul class="collapsible" data-collapsible="accordion">

<li><div class="collapsible-header"><i class="material-icons"></i>t1</div>
<div class="collapsible-body"><p>t1 does this and that</p></div></li>
<li><div class="collapsible-header"><i class="material-icons"></i>t2</div>
<div class="collapsible-body"><p>t2 does this and that</p></div></li>
<li><div class="collapsible-header"><i class="material-icons"></i>t3</div>
<div class="collapsible-body"><p>t3 does this and that</p></div></li>

</ul>
</div>


<script type="text/javascript">

$(document).ready(function(){
    $('#select_feature').change(function(){
        $('#test_case').html('');
        feature_id = $(this).val();
        request_url = 'get_test_case/' + feature_id + '/';
        $.ajax({
            url: request_url,
            dataType: "JSON",
            success: function(response){

                var str = '';
                str += '<ul class="collapsible" data-collapsible="accordion">';
                $.each(response, function(i, val){
                    str += '<li>';
                    str += '<div class="collapsible-header"><i class="material-icons"></i>'+val['test_case_name']+'</div>';
                    str += '<div class="collapsible-body"><p>'+val['test_case_description']+'</p></div>';
                    str += '</li>';
                });
                str += '</ul>';
                $('#test_case').htmle(str);
            }
        })
    })
});
</script>
{% endblock %}