{% extends 'Tool/layout.html' %}

{% block content %}
<div class="row">
  <div class="col s3">
    <label>Feature</label>
    <select id="select_feature" class="browser-default">
    <option value="">Select Feature</option>
    {% for f in feature %}
    <option value={{f.id}}>{{f.feature_name}}</option>
    {% endfor %}
    </select>
  </div>
</div>
<div class="row">
<div id="test_case"></div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    $('#select_feature').change(function(){
        $('#test_case').html('');
        feature_id = $(this).val();
        request_url = 'get_test_case/' + feature_id + '/';
        $.ajax({
            url: request_url,
            dataType: "JSON",
            success: function(response){
                var str = '';
                str += '<div class="row">';
                str +=' <div class="col s3"> Test Case </div>';
                str +=' <div class="col s9"> Description </div>';
                str +='</div>';

                $.each(response, function(i, val){
                    str += '<div class="row">';
                    str +=' <div class="col s3">'+val['test_case_name']+'</div>';
                    str += '<div class="col s9">'+val['test_case_description']+'</div>';
                    str += '</div>';
                    $('#test_case').append(str)
                    str = '';
                });
            }
        })
    })
});
</script>
{% endblock %}