{% extends 'Tool/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
<div class="row"><div class="col s12"></div></div>
  <div class="col s6">
    <div class="col s12"><label>Feature</label></div>
    <a class='dropdown-button btn light-blue darken-4 col s9' href='#' data-activates='dropdown1'><i class="large mdi-navigation-arrow-drop-down"></i>Select a Feature</a>
    <ul id='dropdown1' class='dropdown-content'>
        {% for f in feature %}
        <li><a onclick='show_test_cases({{f.id}})'>{{f.feature_name}}</a></li>
        <li class="divider"></li>
        {% endfor %}
    </ul>
  </div>
  <div class="col 12" id="testplan"><a href='https://all1.sg.alcatel-lucent.com/Teams/CPEIOT/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2fTeams%2fCPEIOT%2fShared%20Documents%2fCPE%20IOT%20with%205420%20CTS' target="_blank"><img src="{% static "Tool/testPlan-icon.png" %}" alt="My image" /></a>
  <label for="testplan" class="col s12 offset-s2 black-text"><h6>Test Plan<h6></label>
  </div>
</div>

<div class="row">
<div id="test_case"></div>
</div>

<script type="text/javascript">

/*
add a on-click action on drop down options. on-click action associated directly to the function as shown below
*/
function show_test_cases(feature_id){
    $('#test_case').html('');
    $('#feature_label').text(feature_id);
    request_url = 'get_test_case/' + feature_id + '/';
    $.ajax({
        url: request_url,
        dataType: "JSON",
        success: function(response){
            var str = '';
            str += '<div class="row">';
            str += '<div class="col s9 card-panel teal lighten-2">'+response[0]['feature_name']+'</div>';
            str += '</div>'; 
            str += '<div class="row">';
            str += '<div class="col s3"><h5>Test ID</h5></div>';
            str += '<div class="col s9"><h5>Test Case Name</h5></div>';
            str += '</div>';
            $('#test_case').append(str);
            str = '';
            $.each(response, function(i, val){
                if (i != 0)
                {
                    str += '<div class="row">';
                    str += '<div class="col s3">'+val['test_id']+'</div>';
                    str += '<div class="col s9">'+val['test_case_name']+'</div>';
                    str += '</div>';
                    $('#test_case').append(str)
                    str = '';
                }
            });
        }
    })
}
</script>
{% endblock %}