{% extends 'Tool/layout.html' %}

{% block extrahead %}
<script src="http://materializecss.com/js/init.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s4 offset-s4">
      <div id="Search" class="row scrollspy">
      <h4><b>Search</b></h4>
      <p>
       Search the CPE's by as follows:
      </p>
      <ol>
        <li>CPE name</li>
        <li>Vendor</li>
        <li>Contact Person</li>
      </ol>

      </div>

      <div id="All CPE" class="row scrollspy">
      <h4><b>All CPE</b></h4>
        <p>
          Details of all the below enlisted CPE's can be found in this tool.
        </p>
        <ol>
        <li>Android Phone</li>
        <li>Android Tablet</li>
        <li>Iphone</li>
        <li>Ipad</li>
        <li>IP5000</li>
        <li>IP6000</li>
        <li>IP7000</li>
        <li>VVX310</li>
        <li>VVX410</li>
        <li>VVX500</li>
        <li>VVX600</li>
        <li>MitelUC360</li>
        <li>MacBook</li>
        <li>Grandstream</li>
        <li>PCClient</li>
        </ol>
      </div>

      <div id="Features" class="row scrollspy">
        <h4><b>Features</b></h4>
        <p>
          Search the CPE's through its features!!
        </p>

        <h5>Here are the steps to use this feature</h5>
        <ol>
        <li>Click on Feature Based CPE icon</li>
        <li>Select the Features</li>
        <li>Hit the Search Button</li>
        <li>Displays the CPE which supports the selected Features</li>
        <li>Click on your desired CPE to get the Testcase Status</li>
        <li>Filter the Testcase according to the Status Required for the particular CPE</li>
        <li>Click on the REFINE button</li>
        <li>Get your selected CPE Testcase Status</li>
        </ol>
      </div>

     <div id="TestRepository" class="row scrollspy">
      <h4><b>TestRepository</b></h4>
        <p>
          Mapping of Fetures with Testcases.
        </p>
        <p>
          Follow the steps...
        </p>
        <ol>
        <li>Click on TestRepository icon</li>
        <li>Select a Feature</li>
        <li>Get your CPE Testcases which supports the selected Feature</li>
        </ol>
     </div>  

     <div id="Upload" class="row scrollspy">
        <h4><b>Upload</b></h4>
        <p>
          Upload the Latest Test Sheet here. This has Admin Privilages.
        </p>

        <ol>
        <li>Click on Upload icon</li>
        <li>Admin Credentials needed</li>
        <li>Enter the correct Username</li>
        <li>Enter the correct Password</li>
        <li>You can upload the latest testcase sheet report of the CPE now</li>
        </ol>
      </div>

    </div>
    
  <div class="col s2">
    <div class="toc-wrapper">
      <div style="height: 20px; position: fixed;top: 10%; right: 10%;">
      <ul class="table-of-contents">
        <li><a href="#Search">Search</a></li>
        <li><a href="#All CPE">All CPE</a></li>
        <li><a href="#Features">Features</a></li>
        <li><a href="#TestRepository">TestRepository</a></li>
        <li><a href="#Upload">Upload</a></li>

      </ul>
      </div>
    </div>
  </div>
          
{% endblock %}