{% extends 'Tool/layout.html' %}

{% block content %}
  <div class="row">
  <div class="col s12"></div>
  <div class="col s12">
  	<div><h5>Invalid Excel file format!!</h5></div>
  </div>
  </div>

{% endblock %}