<!DOCTYPE html>
<html ang="end">
<head>
{% load staticfiles %}
	
	<meta charset="utf-8" />
	<!-- import materialize.css -->
    <link rel="shortcut icon" href="{% static 'Tool/ALU-icon.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'Tool/css/materialize.min.css' %}"media="screen,projection"/>
    <!-- import jQuerry before material.js -->
    <script type="text/javascript" src="{% static 'Tool/jquery/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Tool/js/materialize.min.js' %}"></script>
	{% block extrahead %}{% endblock %}
  <style type="text/css">
  .watermark 
  {
    opacity: 0.3;
    color: BLACK;
    position: fixed;
    top: 87%;
    left: 75%;
  }
  </style>
	<title>Test Management Tool</title>
</head>
<body>
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-4">
        <a href="{% url 'trm_home' %}" class="brand-logo left tooltipped" data-tooltip="Home">Test Report Manager</a>
        <!-- <a><img src="{% static "Tool/ALU-icon.jpg" %}" alt="My image" class="circle responsive-img"/></a> -->
        <ul class="right hide-on-med-and-down">
          <li><a class= "tooltipped" data-tooltip="Search CPEs" href="{% url 'show_search' %}"><i class="large mdi-action-search"></i></a></li>
          <li><a href="{% url 'all_cpe' %}">ALL CPE</a></li>
          <li><a href="{% url 'filter_features' %}">Feature based CPE</a></li>
          <li><a href="{% url 'display_features' %}">Test Repository</a></li>
          <li><a class= "tooltipped" data-tooltip="Upload Report" href="{% url 'upload_excel_cpe_form' %}"><i class="large mdi-file-file-upload"></i></a></li>
          <li><a href="mailto:saikat.de@alcatel-lucent.com;janani.iyer@alcatel-lucent.com?Subject=TRM:%20Feedback%20or%20Bug%20Report" target="_top">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
<div class="container"  id="watermark">
	{% block content %}
	{% endblock %}
</div>
<div class="watermark"><a><img src="{% static "Tool/ALU_down-icon.jpg" %}" alt="My image" /></a>
</div>
</body>
</html>
