{% extends 'Tool/layout.html' %}
{% block content %}

<form action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Invalid User Credential:</p>{% endif %}
<div class="row">
<div class="col s6">
<div class="input-field col s12">
		<input id="id_username" type="text" name="username"></input>
        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
        <label for="username"{% if form.username.errors %} class="error"{% endif %}>Username:</label>
</div>
<div class="input-field col s12">
		<input id="id_password" type="password" name="password"></input>
        {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
        <label for="password"{% if form.password.errors %} class="error"{% endif %}>Password:</label>
</div>
</div>
</div>
<button class="btn waves-effect waves-light light-blue darken-4" type="submit" value="Login"><i class="mdi-content-send right"></i>Login</button>
</form>

{% endblock %}

