{% extends 'Tool/layout.html' %}

{% block content %}
  <div class="row">
  <div class="col s3">
  	<div>Uploaded sucessfully!</div>
  </div>
  </div>


  <div class="row">
  <div class="col s3 card-panel teal lighten-2">Rejected CPEs!</div>
  </div>


	<div class="row">
	    <div class="col s3"><h5>CPE Names</h5></div>
	</div>
  {% for cpe in rejected_cpe %}
    <div class="col s3"><p>{{cpe}}</p></div>
  {% endfor %}


  <div class="row">
  <div class="col s3 card-panel teal lighten-2">Rejected Test Cases!</div>
  </div>

  <div class="row">
  	<div class="col s2"><h5>CPE name</h5></div>
    <div class="col s2"><h5>Test ID</h5></div>
    <div class="col s5"><h5>Test Case name</h5></div>
    <div class="col s1"><h5>Status</h5></div>
    <div class="col s2"><h5>Comment</h5></div>
   </div>
  {% for cpe, t_id, t_name, t_status, t_comment in rejected_testcases %}
    <div class="row">
    <div class="col s2"><p>{{cpe}}</p></div>
    <div class="col s2"><p>{{t_id}}</p></div>
    <div class="col s5"><p>{{t_name}}</p></div>
    <div class="col s1"><p>{{t_status}}</p></div>
    <div class="col s2"><p>{{t_comment}}</p></div>
    </div>
  {% endfor %}
{% endblock %}