{% extends 'Tool/layout.html' %}

{% block content %}
  <div class="row">
  <div class="col s3">
  	<div>Uploaded sucessfully!</div>
  </div>
  </div>

  <div class="row">
  <div class="col s3 card-panel teal lighten-2">Rejected Test Cases!</div>
  </div>

  <div class="row">
    <div class="col s3"><h5>Test ID</h5></div>
    <div class="col s5"><h5>Test Case name</h5></div>
    <div class="col s4"><h5>Feature</h5></div>
   </div>
  {% for t_id, t_name, t_feature in rejected_testcases %}
    <div class="row">
    <div class="col s3"><p>{{t_id}}</p></div>
    <div class="col s5"><p>{{t_name}}</p></div>
    <div class="col s4"><p>{{t_feature}}</p></div>
    </div>
  {% endfor %}
{% endblock %}