{% extends 'Tool/layout.html' %}

{% block content %}
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">Search by CPE, Vendor or Contact name</i></label>
          <i class="material-icons"></i>
        </div>
    <button class="btn waves-effect waves-light light-blue darken-4" type="submit" id="get_cpes" name="submit" onclick="">Search<i class="mdi-content-send right"></i></button>

<div class="row">
<div id="cpe"></div>
</div>


<script type="text/javascript">

$(document).ready(function(){
    $('#get_cpes').click(function () {
        $('#cpe').html('');
        request_url = 'get_cpe/' + $('#search').val() + '/';
        cpe_url = 'cpe_test_case/';
        console.log(request_url);
        $.ajax({
            url: request_url,
            dataType: "JSON",
            success: function(response){
                var str = '<hr>';
                str += '<div class="row">';
                str += '<div class="col s2"> <h5>CPE Name</h5></div>';
                str += '<div class="col s2"> <h5>Release</h5></div>';
                str += '<div class="col s2"> <h5>Description</h5></div>';
                str += '<div class="col s2"> <h5>CTS Release</h5></div>';
                str += '<div class="col s2"> <h5>Contact Person</h5></div>';
                str += '<div class="col s1"> <h5>Vendor</h5></div>';
                str += '<div class="col s1"> <h5>Customer</h5></div>';
                str += '</div>';

                $.each(response, function(i, val){
                    str += '<div class="row">';
                    str +=' <div class="col s2"><a href="'+cpe_url+val['cpe_id']+'"'+request_url+'">'+val['cpe_name']+'</a></div>';
                    str +=' <div class="col s2">'+val['cpe_release']+'</div>';
                    str +=' <div class="col s2">'+val['description']+'</div>';
                    str +=' <div class="col s2">'+val['cts_release']+'</div>';
                    str +=' <div class="col s2">'+val['contact_person']+'</div>';
                    str +=' <div class="col s1">'+val['vendor']+'</div>';
                    str +=' <div class="col s1">'+val['customer']+'</div>';
                    str += '</div>';
                    $('#cpe').append(str)
                    str = '';
                });
            }
        })
    });
});
</script>
{% endblock %}