{% extends 'Tool/layout.html' %}

{% block content %}
  
  <div class="row">
    <div class="col s9">
      <div class="col s1"><h5>Test Id</h5></div>
      <div class="col s5"><h5>Test Case Name</h5></div>
      <div class="col s2"><h5>Status</h5></div>
      <div class="col s4"><h5>Comment</h5></div>
    </div>
    <div class="col s3"></div>
  <div class="row">
    <div class="col s9" id="test_cases">
      <div class="col s12">
        <div class="col s1"><p></p></div>
        <div class="col s5"><p></p></div>
        <div class="col s2"><p></p></div>
        <div class="col s4"><p></p></div>
      </div>
      {% for feature,test_list in test_case_list.items %}
        <div class="col s12 card-panel teal lighten-2">{{feature}}</div>
        {% for t in test_list %}
        <div class="col s12">
            <div class="col s1"><p>{{t.test_id}}</p></div>
            <div class="col s5"><p>{{t.test_case_name}}</p></div>
            <div class="col s2"><p>{{t.status}}</p></div>
            <div class="col s4"><p>{{t.comment}}</p></div>
        </div>
        {% endfor %}
      {% endfor %}
      </div>
      <div class="col s3">
        <div class="row">
            <div class="offset-s2 col s10">
                <div class="card grey darken-1  z-depth-4">
                    <div class="card-content white-text">
                      <span class="card-title"><b>{{cpe_details.cpe_name}}</b></span>
                      <p><b>Vendor:</b> {{cpe_details.vendor.vendor_name}}</p>
                      <p><b>CPE Release:</b> {{cpe_details.cpe_release}}</p>
                      <p><b>Customer:</b> {{cpe_details.customer}}</p>
                      <p><b>CTS Release:</b> {{cpe_details.cts_release}}</p>
                    </div>
              </div>
          </div>  
      </div>
      <div class="row">
        <div class="offset-s2 col s10"><h5>FILTERS</h5></div>
        <div class="offset-s2 col s10">
          {% for stat in status %}
            <p>
              <input name="status_list" type="checkbox" checked="checked" id={{stat.id}} />
              <label for="{{stat.id}}" class="black-text">{{stat.status_name}}</label>
           </p>
          {% endfor %}
          <button class="btn waves-effect waves-light light-blue darken-4" type="submit" id="refine" name="submit" onclick="">Refine<i class="mdi-content-filter-list right"></i></button>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    var selected_checkbox = [];
    $('#refine').click(function () {
        $('input[name=status_list]:checked').each(function() {
            selected_checkbox.push($(this).attr('id'));
        })
        request_url = selected_checkbox + '/';

        console.log(request_url);
        selected_checkbox = [];
        var dummy_line = "";
        dummy_line+= '<div class="col s12">';
        dummy_line+= '<div class="col s1"><p></p></div>';
        dummy_line+= '<div class="col s5"><p></p></div>';
        dummy_line+= '<div class="col s2"><p></p></div>';
        dummy_line+= '<div class="col s4"><p></p></div>';
        dummy_line+= '</div>';
        $('#test_cases').html(dummy_line);
        $.ajax({
            url: request_url,
            dataType: "JSON",
            success: function(response){
                var str = '';
                $.each(response, function(i, val){
                    str += '<div class="col s12 card-panel teal lighten-2">'+i+'</div>';
                    var array_length = val.length;
                    for(var i=0; i<array_length; i++){
                      str += '<div class="col s12">';
                      str +=' <div class="col s1"><p>'+val[i]['test_id']+'</p></div>';
                      str +=' <div class="col s5"><p>'+val[i]['test_case_name']+'</p></div>';
                      str +=' <div class="col s2"><p>'+val[i]['status']+'</p></div>';
                      str +=' <div class="col s4"><p>'+val[i]['comment']+'</p></div>';
                      str += '</div>'
                    }
                    $('#test_cases').append(str)
                    str = '';
                });
            }
        })
    });
});
</script>
{% endblock %}