{% extends 'Tool/layout.html' %}

{% block content %}
 
<div class="row">
	<div class="col s12"></div>
</div>
 <div class="col s3">
  <div class="row">
    <form action="/tool/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
     <button class="btn waves-effect waves-light light-blue darken-4" type="submit" id="get_cpes" name="submit" onclick="">Upload CPE report<i class="mdi-navigation-expand-less right"></i></button>
    </form>
   </div>
 </div>
 <div class="row">
	<div class="col s12"></div>
</div>
 <div class="col s3">
  <div class="row">
    <form action="/tool/upload_testcase/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
     <button class="btn waves-effect waves-light light-blue darken-4" type="submit" id="get_cpes" name="submit" onclick="">Upload Test Case repository<i class="mdi-navigation-expand-less right"></i></button>
    </form>
   </div>
 </div>

{% endblock %}